body {
  overflow: hidden;
}

:root {
  --color-scrollbar: white;
}

.preview.index .eye {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  background: url(../img/eye.png) no-repeat;
  background-position: calc(43% + (var(--index)) * 2 + var(--mouse-x) * 1px / 60) calc(-14% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 60);
  background-size: 40%;
  top: calc(51% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 240);
  left: calc(49.1% + (var(--index)) * 2 + var(--mouse-x) * 1px / 280);
  background-color: #000000;
  width: calc(var(--index) * 17);
  height: calc(var(--index) * 17);
  -webkit-mask: url(../img/mask-eye.png) no-repeat calc(48% + (var(--index)) * 2) calc(9% + (var(--index)) * 3.6);
          mask: url(../img/mask-eye.png) no-repeat calc(48% + (var(--index)) * 2) calc(9% + (var(--index)) * 3.6);
  -webkit-mask-size: 26%;
          mask-size: 26%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

.preview.index.gyroscope .eye {
  background-position: calc(46% + (var(--index)) * 2 + var(--mouse-x) * 1px / 160) calc(-16% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 160);
}
.preview.index.gyroscope .points {
  left: calc(50% + var(--mouse-x) * 1px / 150);
  top: calc(50% + (var(--index)) * -6 + var(--mouse-y) * 1px / 130);
}
.preview.index.gyroscope .mask {
  background: url(../img/prev-1.png) calc(49% + (var(--index)) * -0.8 + var(--mouse-x) * -1px / 100) calc(50% + (var(--index)) * 1.8 + var(--mouse-y) * -1px / 100) no-repeat, url(../img/prev-2.png) calc(49.1% + (var(--index)) * 2 + var(--mouse-x) * -1px / 280) calc(51% + (var(--index)) * 3.6 + var(--mouse-y) * -1px / 100) no-repeat;
}

.preloader {
  -webkit-transition: 1s opacity ease;
  -o-transition: 1s opacity ease;
  transition: 1s opacity ease;
  width: 100%;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  position: fixed;
  overflow: hidden;
  z-index: 1000000;
}
.preloader__text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 34px;
  line-height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 25px;
}
.preloader__progress {
  text-align: center;
  width: 20ch;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 200%);
      -ms-transform: translate(-50%, 200%);
          transform: translate(-50%, 200%);
  text-transform: none;
  letter-spacing: 10px;
  overflow: hidden;
  -webkit-animation: loading 2s infinite steps(4);
          animation: loading 2s infinite steps(4);
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0;
}
.preloader.disable {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
}

@-webkit-keyframes loading {
  0% {
    width: 14ch;
  }
}

@keyframes loading {
  0% {
    width: 14ch;
  }
}
@-webkit-keyframes opasity {
  0% {
    opacity: 0.2;
  }
}
@keyframes opasity {
  0% {
    opacity: 0.2;
  }
}