body{
    overflow: hidden;
}

:root{
    --color-scrollbar: white;
}
.preview.index .eye{
    transform: translate(-50%, -50%);
    position: absolute;
    background: url(../img/eye.png) no-repeat  ;
    background-position:    calc(43% + (var(--index)) * 2.0 + var(--mouse-x) * 1px / 60)
                            calc(-16% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 30);
    background-size: 40%;

    top: calc(51% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 90);
    left: calc(49.1% + (var(--index)) * 2.0 + var(--mouse-x) * 1px / 50);
  
    background-color: #000000;
    width:  calc(var(--index) * 17.0);
    height: calc(var(--index) * 17.0);
    transition: left 0.2s,top 0.2s, background-position 0.05s;
    mask: url(../img/mask-eye.png) no-repeat    calc(48% + (var(--index)) * 2.0)
                                                calc(9% + (var(--index)) * 3.6);
    mask-size: 26%;
    z-index: -1;
}
::-webkit-scrollbar {
    display: none;
}
.preview.index.gyroscope{
    .eye{
            background-position:    calc(43% + (var(--index)) * 2.0 + var(--mouse-x) * 1px / 60)
                                    calc(1% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 180);
            left: calc(49.1% + (var(--index)) * 2.0 + var(--mouse-x) * 1px / 40);
            top: calc(51% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 20);
    }
    .points{
            left: calc(50% + var(--mouse-x) * 1px / 30);
            top: calc(60% + (var(--index)) * -6 + var(--mouse-y) * 1px / 50);
    }
    .mask{
            background: url(../img/prev-1.png)
                            calc(49% + (var(--index)) * -0.8 + var(--mouse-x) * 1px / 80)
                            calc(50% + (var(--index)) * 1.8 + var(--mouse-y) * 1px / 40) no-repeat,
                        url(../img/prev-2.png)
                            calc(49.1% + (var(--index)) * 2.0 + var(--mouse-x) * 1px / 40)
                            calc(51% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 20) no-repeat;
            background-size: calc(var(--index) * 20);
    }
}
.preloader{
    transition: 1s opacity ease;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    position: fixed;
    overflow: hidden;
    z-index: 1000000;
    &__text{
        text-align: center;
        color: white;
        text-transform: uppercase;
        letter-spacing: 34px;
        line-height: 100vh;
        user-select: none;
        font-size: 25px;
    }
    &__progress{
        text-align: center;
        width: 20ch;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 200%);
        text-transform: none;
        letter-spacing: 10px;
        overflow: hidden;
        animation: loading 2s infinite steps(4);
        transition: 0;
        height: 4ch;
    }
    &.disable{
        transition: 1s;
        opacity: 0;
    }
}
@keyframes loading{
    0%{
        width: 14ch;
    }
}
@keyframes opasity{
    0%{
        opacity: 0.2;
    }
}