body {
  overflow-x: hidden;
}

:root {
  --color-scrollbar: white;
}

.preview.index .eye {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  background: url(../img/eye.png) no-repeat;
  background-position: calc(43% + (var(--index)) * 2 + var(--mouse-x) * 1px / 60) calc(-14% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 60);
  background-size: 40%;
  top: calc(51% + (var(--index)) * 3.6 + var(--mouse-y) * 1px / 240);
  left: calc(49.1% + (var(--index)) * 2 + var(--mouse-x) * 1px / 280);
  background-color: #14EEEE;
  width: calc(var(--index) * 17);
  height: calc(var(--index) * 17);
  background-color: #14EEEE;
  -webkit-mask: url(../img/mask-eye.png) no-repeat calc(48% + (var(--index)) * 2) calc(9% + (var(--index)) * 3.6);
          mask: url(../img/mask-eye.png) no-repeat calc(48% + (var(--index)) * 2) calc(9% + (var(--index)) * 3.6);
  -webkit-mask-size: 26%;
          mask-size: 26%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}